<div class="d-flex">
    <div class="d-flex flex-column">
        <div class="position-sticky top-0 bg-white">
            <navbar-user></navbar-user>
            <navbar-search-filter></navbar-search-filter>
        </div>
        <div class="list-chats">
            <div>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
                <item-chat></item-chat>
            </div>
        </div>
    </div>
    <div class="ms-4 section-chat">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos itaque dolorem repudiandae nobis sapiente
            eaque minus assumenda laudantium reiciendis, ab quidem qui asperiores, labore vel? Sint deleniti in
            architecto quasi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis expedita incidunt aliquid quisquam neque
            obcaecati deleniti cum repellat deserunt, fuga, eaque ab autem explicabo nesciunt temporibus inventore,
            nulla quas eos!
            Laudantium et, impedit, saepe in enim ullam adipisci est ex aliquam doloribus magnam assumenda culpa hic
            quae nobis? Dolorum explicabo rem quas voluptatum, nihil magnam atque libero maxime modi tenetur.
            Non fugiat, inventore numquam soluta veritatis quod? Minus deserunt quibusdam nisi eius sunt error alias
            iusto corporis, repellendus veniam quasi non aliquid magnam laboriosam ea. Earum ea eius consequatur
            tenetur.
            Sequi nihil est pariatur maxime, eius ducimus ipsam aliquam itaque delectus culpa velit voluptates incidunt,
            voluptas alias labore asperiores possimus voluptatum nemo animi! Porro rerum, assumenda vitae illum at odit.
            Architecto quod beatae ea ex ipsam enim nemo aliquam doloribus, explicabo soluta labore maiores praesentium,
            quae optio debitis recusandae natus dolores perferendis? Cupiditate fuga voluptatum debitis deserunt
            corporis modi inventore.
            Neque nulla consequatur exercitationem veritatis maiores. Magnam dicta rerum aperiam sunt illo dolorum,
            tenetur tempore officiis laudantium nam harum nostrum corporis hic ex quibusdam necessitatibus ullam! Sint
            maxime culpa nemo.
            Sequi ex dolor eum saepe fuga ut atque ullam tenetur illo quidem voluptatibus alias vel accusantium esse
            modi et est distinctio nisi culpa id suscipit, expedita dignissimos reiciendis dolore? Dolorem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur voluptates magnam inventore facere
            voluptatibus consequuntur necessitatibus, minima, repudiandae qui, excepturi pariatur et ea veritatis quas
            eveniet. Praesentium eos asperiores labore?
            Ducimus, laudantium ad. Nisi minus magnam repudiandae tempora, commodi consequatur magni. Deleniti ea
            impedit veritatis ratione pariatur sit atque labore distinctio quae sed et, sequi quos dolorem repellat
            doloribus eveniet.
            <div class="position-sticky bottom-0" style="height: 100px; width: 100%; background-color: purple;">

            </div>
        </div>
    </div>
</div>