<div class="container-fluid d-flex flex-row p-0">
    <div class="d-flex flex-column container-options border-end">
        <div class="position-sticky top-0 bg-white container-options-navbar-user">
            <navbar-user
                srcPhotoUser="http://pm1.narvii.com/6332/af4469120777df5ae77da309405ba4c7d0e8783b_00.jpg"></navbar-user>
            <navbar-search-filter class="bg-white d-block"></navbar-search-filter>
        </div>
        <div class="pt-3 px-0 container-options-list-chats">

            <item-chat *ngFor="let chat of listChats" timeMessage="{{chat.horaUltimoMensaje}}"
                nameUser="{{chat.nombreContacto}}" srcPhotoUser="{{chat.fotoContacto}}"
                message="{{chat.ultimoMensaje}}"></item-chat>

        </div>
    </div>
    <div class="container-chat d-flex flex-column">
        <div class="container-chat-chat m-2 pb-5">

            <bubble-chat message="Hola, como estas?" timeMessage="06:07 AM" [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Hola, excelente y tu que tal?" timeMessage="06:10 AM"
                [sendMessage]="false"></bubble-chat>
            <bubble-chat message="Muy bien, aqui arreglando para salir a trabajar" timeMessage="06:11 AM"
                [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Que bueno, yo estoy en las mismas. Pero corriendo por que estoy cogida de la tarde"
                timeMessage="06:11 AM" [sendMessage]="false"></bubble-chat>
            <bubble-chat message="A bueno, no te hago coger mas la tarde." timeMessage="06:11 AM"
                [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Nos veremos mas tarde?" timeMessage="06:11 AM" [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Si claro, pasas por mi o donde nos vemos?" timeMessage="06:12 AM"
                [sendMessage]="false"></bubble-chat>
            <bubble-chat message="Dale, yo paso por ti." timeMessage="06:15 AM" [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Te parece bien a las 8?" timeMessage="06:15 AM" [sendMessage]="true"></bubble-chat>
            <bubble-chat message="Si, entonces te espero a esa hora" timeMessage="06:18 AM"
                [sendMessage]="false"></bubble-chat>
        </div>

        <div class="container-chat-bottom-bar position-fixed bottom-0 bg-white  p-1">
            <bottom-bar-chat class="bg-white"></bottom-bar-chat>
        </div>

    </div>
</div>