.container-options {
    width: 30%;

    .container-options-list-chats {
        overflow: hidden;
        height: 510px;
    }

    .container-options-list-chats:hover {
        overflow-y: scroll;
    }
}

.container-chat {
    width: 70%;
    height: 100vh;
    background-image: url("../../../assets/whasapp_background.jpg");
    
    .container-chat-bottom-bar {
        width: 70%;
    }

    .container-chat-chat{
        overflow: hidden;

    }
    .container-chat-chat:hover {
        overflow-y: scroll;
    }
}