<div class="d-flex justify-content-center align-items-center my-2">
    <photo-user class="me-2" srcPhotoUser="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU"></photo-user>
    
    <!-- nameUser valueTime valueMessage-->
    <info-chat nameUser="Mario Andres" valueTime="12:09 PM" valueMessage="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati commodi harum atque magnam quo ullam praesentium, natus maiores porro deserunt iusto, excepturi accusamus ipsum neque, voluptate omnis reiciendis eveniet quos."></info-chat>
</div>
