<div class="container d-flex justify-content-center align-items-center my-2 container-chat">
    <photo-user class="me-2" srcPhotoUser="{{srcPhotoUser}}"></photo-user>
    
    <!-- nameUser valueTime valueMessage-->
    <info-chat class="border-bottom pb-2" nameUser="{{nameUser}}" valueTime="{{timeMessage}}" valueMessage="Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati commodi harum atque magnam quo ullam praesentium, natus maiores porro deserunt iusto, excepturi accusamus ipsum neque, voluptate omnis reiciendis eveniet quos."></info-chat>
</div>
