<div class="d-flex justify-content-between align-items-center">
    <!-- nameUser -->
    <input-text-principal nameUser="{{nameUser}}"></input-text-principal>

    <!-- valueText -->
    <input-text-secondary valueText="{{valueTime}}"></input-text-secondary>
</div>
<div class="info-chat d-flex justify-content-between align-items-center">
    <!-- valueText sizeText-->
    <input-text-secondary sizeText="90"
        valueText="{{valueMessage}}"></input-text-secondary>

    <!-- nameIcon, titleButton, sizeIcon -->
    <button-icon nameIcon="matKeyboardArrowDownRound"></button-icon>
</div>