<div class="container d-flex align-content-between align-items-center">
    <!-- nameUser -->
    <input-text-principal class="w-100" nameUser="{{nameUser}}"></input-text-principal>

    <!-- valueText -->
    <text-view-reset valueText="{{valueTime}}"></text-view-reset>

</div>
<div class="container d-flex align-content-between align-items-center container-message">
    <!-- valueText sizeText-->
    <text-view-reset class="input-message" sizeText="90" valueText="{{valueMessage}}"></text-view-reset>

    <!-- nameIcon, titleButton, sizeIcon -->
    <button-icon nameIcon="matKeyboardArrowDownRound"></button-icon>
</div>